doctype html 
html
    head
        title Index Page
        meta(charset='utf-8')
    body
        .page-header
            h1#page-title Index Title 
            ul 
                li 
                    a(herf='/board') Go to board 
                li 
                    a(herf='/article/compose') Compose New Article 
        .page-body 
            | Page body 
            | Hello world!